- content_for :page_header, "New #{resource_class.to_s.singularize}"
= render 'form'

.clearfix
br
.text-center
  = link_to "Back to #{resource_class.to_s.pluralize}", resource_admin_index_path(resource_class)
