ul.nav.nav-sidebar
  = menu_item 'Dashboard', admin_root_path,'i-dash', {:'data-no-turbolink'=>'true'}        
  = menu_item 'Users', admin_users_path, 'i-users'
  = menu_item 'Api Keys', admin_api_keys_path, 'i-users'
